.scene {
  padding: 0 0 20px 0;
  .coverImg {
    width: 100%;
    display: block;
  }
  h3 {
    margin: 10px 0;
  }
  .count {
    color: #F00;
    padding: 0 2px;
  }
  .action {
    margin: 0 15px 0 0;
  }
}

@media (min-width: 1200px) {
  .scene {
    .coverImg {
      width: 1050px;
      margin: 0 auto;
    }
  }
}