.scene {
  .coverImg {
    width: 100%;
    display: block;
  }
  h1 {
    margin: 5px 0 5px 0;
  }
  .role-scene {
    padding:0 20px;
    .count {
      color: #F00;
      padding: 0 2px;
    }
  }
  .item-result {
    padding:0 20px;
  }
  .action {
    margin: 15px 15px 0 0;
  }
}

@media (min-width: 1200px) {
  .scene {
    .coverImg {
      width: 1050px;
      margin: 0 auto;
    }
  }
}