<div class="scene">
    <img class="coverImg" ng-if="roleScene.coverImg" ng-src="{{roleScene.coverImg}}"/>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{{roleScene.title}}</h3>
                <p class="description">{{roleScene.description}}</p>
                <form class="form-horizontal" name="form">
                    <div class="form-group">
                        <div class="col-xs-8 col-xs-offset-2">
                            <input type="text" class="form-control" name="key"
                                   ng-model="model.key"
                                   required="" placeholder="请输入姓名"/>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary"
                                ng-disabled="form.$pristine || form.$invalid"
                                ng-click="submit()">开始测试
                        </button>
                    </div>
                </form>
                <div class="text-center">
                    有<span class="count">{{roleScene.count}}</span>人参与
                </div>
            </div>
        </div>
    </div>
</div>