<div class="scene">
    <img class="coverImg" ng-if="model.roleItem.roleScene.coverImg" ng-src="{{model.roleItem.roleScene.coverImg}}"/>
    <div class="container item-result">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{model.key}}，你在{{model.roleItem.roleScene.name}}中居然是{{model.roleItem.name}}</h1>
                <img class="coverImg" ng-src="{{model.roleItem.coverImg}}" ng-if="model.roleItem.coverImg"/>
                <p class="description">{{model.roleItem.description}}</p>
                <p class="text-center"><a ui-sref="roleScene({id:model.roleItem.roleScene._id})" class="btn btn-primary action">重新测试</a><a
                        ui-sref="roleScene({id:model.roleItem.roleScene._id})" class="btn btn-info action">炫耀一下</a></p>
            </div>
        </div>
    </div>
</div>