<div class="scene">
    <img class="coverImg" ng-if="roleScene.coverImg" ng-src="{{roleScene.coverImg}}"/>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 ng-if="!isShare">{{roleItemChoose.key}}，你在{{roleScene.name}}中是{{roleItem.name}}</h3>
                <h3 ng-if="isShare">{{roleItemChoose.key}}，在{{roleScene.name}}中是{{roleItem.name}}</h3>
                <img class="coverImg" ng-src="{{roleItem.coverImg}}" ng-if="roleItem.coverImg"/>
                <p class="description">{{roleItem.description}}</p>
                <div class="text-center" ng-if="!isShare"><a ui-sref="roleScene({id:roleScene._id})"
                                                             class="btn btn-primary action">重新测试</a><a
                        class="btn btn-success action" ng-click="toggleShareTip()">炫耀一下</a>
                </div>
                <div class="text-center" ng-if="isShare">
                    <a href="{{roleSceneUrl}}" class="btn btn-primary action">我也要测试</a>
                    <a ui-sref="roleScene({id:roleScene._id})" class="btn btn-success action">更多测试</a></div>
            </div>
        </div>
    </div>
</div>
<div class="share-layer" ng-click="toggleShareTip()">
    <img src="/assets/images/guide.png"/>
</div>